{% extends 'base.html' %}

{% block content %}
   
    <main class="container">
        <div class="row">
            <section class="col-md-4 offset-md-4 mt-5">
        
                <form action="{% url 'signin' %}" method="post" class="card card-body">
                    <h1 class="text-center">Signgin</h1>
                    
                    {{error}}
                    {% csrf_token %}
            
                    <div class="mb-3">
                        <label for="username">Username: </label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Write your username">
                        
                        <label for="password">Password: </label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Write your password">
                        
                    </div>
            
                    <button class="btn btn-outline-primary ">Signin</button>
                </form>
            </section>
        </div>

    </main>
{% endblock %}